:root{
    --purple : #8284FA;
    --purple-dark : #5E60CE;
    --blue : #4EA8DE;
    --blue-dark :#1E6F9F;
    --black : #0D0D0D;
    --grey-400 : #333333;
    --white-100 : #F2F2F2;
    --grey-600 :#1A1A1A;
    --grey-500 : #262626;
    --grey-300 : #808080;
    --danger :#E25858;
    --width: 51%;

}
@font-face {
    font-family: inter;
    src: url("font/Inter-VariableFont_slnt\,wght.ttf");
}
*{
    font-family: inter;
}
body{
    margin: 0%;
    background-color: var(--grey-600);
}
.logo{
    background-color: var(--black);
    text-align: center;
    padding: 60px 0px;
}
.list{
    width: var(--width);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    margin-top: -25px;
}
.text{
    resize: none;
    background-color: var(--grey-400);
    outline: none;
    color: var(--white-100);
    font-size: 16px;
    padding: 16px 16px;
    border: none;
    box-sizing: border-box;
    border-radius: 8px;
    width: 95%;
}
.redborder{
    border: 0.5px solid red;
    box-shadow: 0px 0px 20px red;
}
.addbtn{
    padding: 16px 16px;
    font-size: 16px;
    cursor: pointer;
    background-color: var(--blue-dark);
    color: var(--white-100);
    border: none;
    margin-left: 10px;
    border-radius: 8px;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    gap: 8px;
}
.addbtn:hover{
    background-color: var(--blue);
}
.textcontainer{
    display: flex;
    align-items: center;
    gap: 15px;
}
.total{
    width: var(--width);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    margin-top: 65px;
}
.todo-list{
    margin-bottom: 50px;
    margin-top: 25px;
}
.task{
    color: #4EA8DE;
    font-size: 14px;
}
.completed{
    color: var(--purple);
    font-size: 14px;
}
.total_num{
    color: var(--white-100);
    background-color: var(--grey-400);
    padding: 5px 10px;
    border-radius: 12px;
}
.todo{
    color: var(--white-100);
    background-color: var(--grey-500);
    padding: 16px;
    margin: auto;
    margin-top: 12px;
    border-radius: 8px;
    width: var(--width);
    display: flex;
    align-items: center;
    justify-content:space-between;
    box-sizing: border-box;
    gap: 18px;
}
.checkbox{
    outline: none;
    height: 16px;
    min-width: 16px;
    border-radius: 50%;
    appearance: none;
    border: 1px solid #4EA8DE;
    cursor: pointer;
    margin: 3px 10px 3px 4px;
}
.checkbox:hover{
    border: 1px solid #1E6F9F;
}
.icons{
    display: flex;
    gap: 10px;
}
.fa-trash-alt{
    color: var(--grey-300);
    cursor: pointer;
    transition: all 0.5s;

}
.fa-trash-alt:hover{
    color:var(--danger);
    background-color: var(--grey-400);
    border-radius: 5px;
}
.fa-edit{
    color: #4EA8DE;
    cursor: pointer;
    margin-left: 5px;
}
.fa-edit:hover{
    color: rgb(25, 194, 25);
    transition: all 0.5s;
}
.fa-check{
    background-color: var(--purple-dark);
    border-radius: 50%;
    font-size: 8px;
    padding: 4px;
    cursor: pointer;
    box-sizing: border-box;
    margin: 3px 10px 3px 4px;
}
.fa-check:hover{
    background-color: var(--purple);
}
.hidden{
    display: none;
}
.line {
    text-decoration: line-through;
    color: var(--grey-300);
    word-break: break-all;
}
.noline{
    word-break: break-all;
    display: inline-block;
}
.noline:focus{
    outline: none;
    border: 1px solid var(--grey-300);
    padding: 5px;
    background-color: var(--grey-600);
}
.empty-list{
    margin: auto;
    text-align: center;
    border-top: 1px solid var(--grey-400);
    width: var(--width);
    margin-top: 80px;
}
.empty-list>img{
    margin-top: 80px;
}
.empty-list>P{
    color: var(--grey-300);
}
@media (max-width:650px) {
    :root{
        --width : 80%;
    }
    .text{
        width: 250px;
    }
}